.accueil{
    background-color: black;
    /* background: #154360;
    min-height: 100vh;
    color: white; */
    background-repeat: no-repeat;
    background-size: contain;
    /* background-attachment: fixed; */
    /* 
    background-size: 100vw auto;
    margin: 0;
    padding: 0; */
}

.liste{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    
    margin: 25px 10px;

}