.details{
    min-height: 100vh;
    background-color: black;
}
.container{
    color: white;
    padding: 0 25px;
    background-color: rgba(0, 0, 0, 0.277);
}

.recommendationsListe{
    margin: 0 20px;
    overflow-x: scroll;
    display: flex;
}

/* .recommendationsListe::-webkit-scrollbar {
    display: none;
} */

.recTitle{
    color: white;
    margin-top: 100px;
}